.columna1{
	text-align: center;
	width: 300px;
	
}
.columna2{
	text-align: center;
	width: 300px;
	
}
.columna3{
	text-align: center;
	width: 300px;
	
}
.columna4{
	display: none;
	text-align: center;
	width: 300px;

}
.columna5{
	display: none;
	text-align: center;
	width: 90px;

}
.columna6{
	display: none;
	text-align: center;
	width: 90px;

}
.columna7{
	display: none;
	text-align: center;
	width: 90px;

}
.columna8{
	display: none;
	text-align: center;
	width: 90px;

}
.columna9{
	display: none;
	text-align: center;
	width: 90px;

}
.columna10{
	display: none;
	text-align: center;
	width: 90px;

}